footer {
  align-items: center;
  padding: 1px 50px;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}
.imgs {
  display: inline;
  height: 30px;
  width: 30px;
  margin: 0 10px;
  border-radius: 100%;
}
