nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
a {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0 10px;
  cursor: pointer;
}
