/* main body */
body {
  font-family: "Times New Roman", Times, serif;
  background-color: black;
  color: white;
  margin: 0;
}
nav,
section,
div,
main,
header {
  padding: 0 20px;
}
/* section{
  margin: auto;
} */
/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
a {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0 10px;
  cursor: pointer;
}
/* header */
img {
  display: flex;
  height: 400px;
  width: 400px;
  padding: 10px;
  margin: auto;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin: 10px 50px 50px 50px;
}
section {
  padding: 0 30px;
}

.p1 {
  font-size: 25px;
  margin: auto;
}
.ARF {
  font-size: 20px;
}
b {
  font-size: 20px;
}
sub {
  font-size: 13px;
}
h1 {
  font-size: 30px;
  margin: 0;
}
.pr1 {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
ol {
  font-size: 25px;
  font-family: sans-serif;
}
li {
  margin-left: 15px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.b1 {
  cursor: pointer;
  padding: 10px 20px;
  background-color: green;
  border: none;
  margin: 5px 0;
  border-radius: 5px;
}
/* ABOUT MAIN */
.h2mainabout {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px;
}
section {
  padding: 30px;
}
button {
  padding: 10px 30px;
  font-weight: 900;
  margin: 7px;
  border-radius: 5px;
}
.deepintro {
  text-align: center;
}
.moreintro {
  display: grid;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 5px;
}
/* projects */
.h1pro {
  text-align: center;
}
.projectimg {
  height: 300px;
  width: 600px;
}
.secpro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}
.am-cl-pr {
  text-align: center;
}
.plink {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
/* project 2 */

.projectimg2 {
  height: 300px;
  width: 600px;
}
.am-cl-pr2 {
  text-align: center;
}
.plink2 {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
/* footer */
footer {
  align-items: center;
  padding: 1px 50px;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}
.imgs {
  display: inline;
  height: 30px;
  width: 30px;
  margin: 0 10px;
  border-radius: 100%;
}
